.pydevproject
.project
.idea
.settings
*.pyc
agent.yaml
build
dist
artifacts
root
.tox/
AUTHORS
ChangeLog
*.egg*
.*.sw*
.coverage
htmlcov/
.testrepository/
cover/
.stestr
virtenv/
Pipfile
Pipfile.lock
.vscode
