# This is a cross-platform list tracking distribution packages needed by tests;
# see http://docs.openstack.org/infra/bindep/ for additional information.

build-essential [platform:dpkg]
curl
cyrus-sasl-devel [platform:rpm]
gawk
gettext
language-pack-en [platform:ubuntu]
libcurl-devel [platform:rpm]
libcurl4-gnutls-dev [platform:dpkg]
libevent-dev [platform:dpkg]
libevent-devel [platform:rpm]
libffi-dev [platform:dpkg]
libffi-devel [platform:rpm]
libldap2-dev [platform:dpkg]
libmysqlclient-dev [platform:dpkg]
libpcap-dev [platform:dpkg]
libpcap-devel [platform:rpm]
libpq-dev [platform:dpkg]
librrd-dev [platform:dpkg]
libsasl2-dev [platform:dpkg]
libuuid-devel [platform:rpm]
libxml2-dev [platform:dpkg]
libxml2-devel [platform:rpm]
libxml2-utils [platform:dpkg]
libxslt-devel [platform:rpm]
libxslt1-dev [platform:dpkg]
locales [platform:debian]
mariadb [platform:rpm]
mariadb-devel [platform:rpm]
mariadb-server [platform:rpm]
memcached
mongodb [platform:dpkg]
mongodb-server [platform:rpm]
mysql-client [platform:dpkg]
mysql-server [platform:dpkg]
pkg-config [platform:dpkg]
pkgconfig [platform:rpm]
postgresql
postgresql-client [platform:dpkg]
postgresql-devel [platform:rpm]
postgresql-server [platform:rpm]
python-dev [platform:dpkg]
python-devel [platform:rpm]
python-libvirt [platform:dpkg]
python-lxml
python3-all-dev [platform:ubuntu !platform:ubuntu-precise]
python3-dev [platform:dpkg]
python3-devel [platform:fedora]
python3.4 [platform:ubuntu-trusty]
python34-devel [platform:centos]
python3.5 [platform:ubuntu-xenial]
redis [platform:rpm]
redis-server [platform:dpkg]
rrdtool-devel [platform:rpm]
uuid-dev [platform:dpkg]
zlib-devel [platform:rpm]
zlib1g-dev [platform:dpkg]
zookeeperd [platform:dpkg]
