requests

oslo.config
oslo.utils
oslo.vmware

PyYAML
gevent
gearman>=2.0.2,<2.1
httplib2
netaddr
ntplib>=0.3.2,<0.4
#psutil>=2.2.1,<3.1.0
pymongo
python-memcached
python-monascaclient>=1.0.30 # Apache-2.0
redis
supervisor>=3.1.3,<3.2
tornado
