# (C) Copyright 2017 Hewlett Packard Enterprise Development LP
init_config:
  # Timeout on cAdvisor requests
  # connection_timeout: 3
  # white_list:
  #   metrics:
  #     cpu.system_time_sec:
  #       dimensions:
  #         workspace_id: 12345uuid
  #         hostname: host_default
  #     net.in_bytes_sec:
  #     mem.used_bytes:
  #       dimensions:
  #         workspace_id: 56789uuid
  #   dimensions:
  #       workspace_id: abcd_uuid

instances:
    # URL of cAdvisor to connect to.
  - cadvisor_url: "http://127.0.0.1:4194"
    # You can also set the plugin to determine cadvisor url from running within a kubernetes container
    # kubernetes_detect_cadvisor: True
