# (C) Copyright 2015-2016 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
    # This config is for the Directory Check which is used to report metrics
    # for the size of a given directory
    #
    # NOTE: This check is NOT currently supported on Windows systems
    #
    # For each instance, the 'directory' parameter is required
    #
    # WARNING: Ensure the user account running the Agent (typically mon-agent)
    # has read access to the monitored directory and files.
    #
    # Instances take the following parameters:
    # "directory" - string, the directory to monitor. Required

- built_by: Directory
  directory: /path/to/directory_1
- built_by: Directory
  directory: /path/to/directory_2
