# (C) Copyright 2016 Hewlett Packard Enterprise Development LP

# Warning
# The user running the monasca-agent (usually "mon-agent") must be part of the "docker" group

init_config:
  docker_root: /

  # Timeout on Docker api connection. You may have to increase it if you have many containers.
  # connection_timeout: 3

  # docker version to use when connecting to the docker api. Default is auto
  # version: "auto"

instances:
    # URL of the Docker daemon socket to reach the Docker API. HTTP also works.
  - url: "unix://var/run/docker.sock"

    # Set to true if you want the kubernetes namepsace and pod name to be set as dimensions
    add_kubernetes_dimensions: True
