# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
#    -   username: username
#        password: password
#        url: https://path/to/haproxy
#        status_check: False
#        collect_service_stats_only: True  # Only collect the totals for the entire haproxy service
#        collect_aggregates_only: True  # Only collect totals for each VIP
#        collect_status_metrics: False
