# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
#  -   kafka_connect_str: localhost:19092
# It is possible to get the lag for each partition, the default is to sum lag for all partitions
#      per_partition: False
# Full includes additional metrics with actual offsets per partition, can't be set if per_partition is False
#      full_output: False
#      consumer_groups:
#        my_consumer:
#          - my_topic  # the plugin will automatically collect from all existing partitions
