# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:
    # These are Nova credentials, [keystone_authtoken] in /etc/nova/nova.conf
    password: pass
    project_name: service
    username: nova
    auth_url: 'http://192.168.10.5/identity'
    region_name: 'region1'
    # Options to specify endpoint type, default to 'publicURL', other choices:
    # 'internalURL' and 'adminURL'
    endpoint_type: 'publicURL'
    # Location of temporary files maintained by the plugin.  Ramdisk preferred.
    cache_dir: /dev/shm
    # How long to wait before querying Nova for instance updates? (seconds)
    # Note that there is an automatic refresh if new instances are encountered.
    nova_refresh: 14400
    # How long before gathering data on newly-provisioned instances? (seconds)
    vm_probation: 300
    # Command line to ping VMs, set to False (or simply remove) to disable.
    # The word 'NAMESPACE' is automatically replaced by the appropriate network
    # namespace for each VM being monitored.
    ping_check: sudo -n /sbin/ip exec NAMESPACE /usr/bin/fping -n -c1 -t250 -q
    # Number of ping command processes that will be run concurrently.
    max_ping_concurrency: 8
    # Suppress all per-VM metrics aside from host_alive_status, including all
    # I/O, network, memory, ping, and CPU metrics.
    alive_only: false
    # List of instance metadata keys to be sent as dimensions
    # By default 'scale_group' metadata is used here for supporting auto
    # scaling in Heat.
    metadata:
    - scale_group
    # Include scale group dimension for customer metrics.
    customer_metadata:
    - scale_group
    # Submit network metrics in bits rather than bytes.
    network_use_bits: false
    # Configuration parameters used to control which metrics are reported
    # by libvirt plugin.
    vm_cpu_check_enable: True
    vm_disks_check_enable: True
    vm_network_check_enable: True
    vm_ping_check_enable: True
    vm_extended_disks_check_enable: False
    # Specify a regular expression with which to match nova host aggregate names.
    # If this hypervisor is a member of a host aggregate matching this regular
    # expression, an additional dimension of host_aggregate will be published
    # for the operations metrics (with a value of the host aggregate name).
    host_aggregate_re: None
    # Interval between disk metric collections in seconds. If this is less than
    # the agent collection period, it will be ignored.
    disk_collection_period: 0
    # Interval between vnic metric collections in seconds. If this is less than
    # the agent collection period, it will be ignored.
    vnic_collection_period: 0
    # Libvirt domain type. ('kvm', 'lxc', 'qemu', 'uml', 'xen')
    libvirt_type: kvm
    # Override the default libvirt URI (which is dependent on libvirt_type).
    # eg. 'qemu+tcp://hostname/system'
    libvirt_uri: qemu:///system
instances:
    # Instances are automatically detected through queries to the Nova API,
    # and therefore do not need to be listed here, so this remains empty.
    - {}
