# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:
    # These are Nova credentials, [keystone_authtoken] in /etc/nova/nova.conf
    password: pass
    project_name: service
    username: nova
    auth_url: 'http://192.168.10.5/identity'
    # Options to specify endpoint type, default to 'publicURL', other choices:
    # 'internalURL' and 'adminURL'
    endpoint_type: 'publicURL'
    # Location of temporary files maintained by the plugin.  Ramdisk preferred.
    cache_dir: /dev/shm
    # How long to wait before querying Nova for instance updates? (seconds)
    # Note that there is an automatic refresh if new instances are encountered.
    nova_refresh: 14400
    # How long before gathering data on newly-provisioned instances? (seconds)
    vm_probation: 300
    # Command line to ping VMs, set to False (or simply remove) to disable.
    # The word 'NAMESPACE' is automatically replaced by the appropriate network
    # namespace for each VM being monitored.
    ping_check: sudo -n /sbin/ip exec NAMESPACE /usr/bin/fping -n -c1 -t250 -q
    # Suppress all per-VM metrics aside from host_alive_status, including all
    # I/O, network, memory, ping, and CPU metrics.
    alive_only: false
    # List of instance metadata keys to be sent as dimensions
    # By default 'scale_group' metadata is used here for supporting auto
    # scaling in Heat.
    metadata:
    - scale_group
    # Include scale group dimension for customer metrics.
    customer_metadata:
    - scale_group
instances:
    # Instances are automatically detected through queries to the Nova API,
    # and therefore do not need to be listed here, so this remains empty.
    - {}
