# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
    # For every instance, you have an `lighttpd_status_url` and (optionally)
    # a list of dimensions.

    -   lighttpd_status_url: http://example.com/server-status?auto
        dimensions:
            instance:foo

    -   lighttpd_status_url: http://example2.com:1234/server-status?auto
        dimensions:
            instance:bar

    # Lighttpd2 status url
    -   lighttpd_status_url: http://example.com/server-status?format=plain
        dimensions:
            instance:l2