# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:
     # Directories where Nagios checks (scripts, programs) may live (optional)
#    check_path: /usr/lib/nagios/plugins:/usr/local/bin/nagios

     # Where to store last-run timestamps for each check (required)
#    temp_file_path:  /dev/shm/

# List a check name under 'name' and the full command-line
# under 'check_command'.  If the command exists in 'check_path' above,
# it is not necessary to specify the full path.

instances:
#    - name:             nagios.load
#      check_command:    check_load -r -w 2,1.5,1 -c 10,5,4

#    - name:             nagios.disk
#      check_command:    check_disk -w 15\% -c 5\% -A -i /srv/node
#      check_interval:   300

#    - name:             nagios.swap
#      check_command:    /usr/lib/nagios/plugins/check_swap -w 50\% -c 10\%
#      check_interval:   120
#      dimensions:       { 'group': 'memory' }
