# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
  # All params are optional
  - host: pool.ntp.org
    # Optional params:
    #
    # port: ntp
    # version: 3
    # timeout: 5
    # dimensions:
    #     dim1: value1
