# (C) Copyright 2016 Hewlett Packard Enterprise Development LP
init_config:
    # These are Neutron credentials, [keystone_authtoken] in /etc/neutron/neutron.conf
    password: password
    project_name: services
    username: neutron
    auth_url: 'http://192.168.10.5/identity'
    # Number of seconds to wait before updating the neutron router cache file.
    neutron_refresh: 14400
    # Options to specify endpoint type, default to 'publicURL', other choices:
    # 'internalURL' and 'adminURL'
    endpoint_type: 'publicURL'
    # The region name in /etc/neutron/neutron.conf
    region_name: 'region1'
    # Location of temporary files maintained by the plugin. Ramdisk preferred.
    cache_dir: /dev/shm
    # Specfies network metrics in bitslog.
    network_use_bits: false
    # If set, will submit raw counters from ovs-vsctl command output for the given
    # network interface
    use_absolute_metrics: true
    # List of router metadata keys to be sent as dimensions when cross posting
    # metrics to the infrastruture project.
    metadata:
    - tenant_name
    # Installations that don't allow usage of sudo should copy the `ovs-vsctl`
    # command to another location and use the `setcap` command to allow the
    # monasca-agent to run that command. The new location of the `ovs-vsctl`
    # command should be what is set in the config file for `ovs_cmd`.
    ovs_cmd: 'sudo /usr/bin/ovs-vsctl'
    # Regular expression for the interfaces type
    included_interface_re: qg.*|vhu.*|sg.*
    # If set, will submit the rate metrics derived from ovs-vsctl command
    # output for the given network interface.
    use_rate_metrics = true
    # If set, will submit the health related metrics from ovs-vsctl command
    # output for the given network interface.
    use_health_metrics = true
    # If specified, the collector will skip calling the plugin until the specified
    # number of seconds has passed.
    # NOTE: Collection is dictated by the default collection frequency therefor
    # collect_period should be evenly divisible by the default collection frequency
    # otherwise the plugin will be called on the collection run after the specified time
    collect_period = 300

instances:
    # Instances are not used and should be empty in `ovs.yaml` because like the
    # ovs plugin it runs against all routers hosted on the node at once.
    - {}
