# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

# The user running monasca-agent must have passwordless sudo access for the find
# command to run the postfix check.  Here's an example:
#
# example /etc/sudoers entry:
#          monasca-agent ALL=(ALL) NOPASSWD:/usr/bin/find
#

init_config:

instances:
    - name: /var/spool/postfix
      directory: /var/spool/postfix
      queues:
          - incoming
          - active
          - deferred
#      dimensions:
#        dim1: value1
