# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
# - varnishstat: (required) String path to varnishstat binary
#   name: (optional) String name of varnish instance. Passed to the -n parameter of varnishstat. Will also dimensions each metric with this name.
#   dimensions: (optional) Additional dimensions to dimensions each metric with
#
# Example:
#
    - varnishstat: /usr/bin/varnishstat
      name: myvarnishinstance
      dimensions:
        instance:production
