# (C) Copyright 2016 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
#  - name: localhost
#    user: username
#    password: my_password
#    node_name: v_mon_node0001
#    service: monasca # Optional
#    timeout: 3       # Optional (secs)
