# (C) Copyright 2015 Hewlett Packard Enterprise Development Company LP

init_config:

instances:
   -   name: localhost
       host: localhost
       port: 2181
       timeout: 3
#       dimensions:
#            dim1: value1
