Source: mon-agent
Priority: extra
Section: default
Maintainer: HPCloud Monitoring <hpcs-mon@hp.com>
Build-Depends: debhelper (>= 7),
               python (>= 2.6.6-3~),
               python-setuptools
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: mon-agent
Priority: extra
Section: default
Architecture: all
Depends: python (>= 2.6), python-tornado (>= 2.3), supervisor (>= 3.0), adduser, sysstat, python-pexpect, python-psutil, python-requests (>= 0.8.2)
Description: Monitoring Agent
  Used to send metrics from the host system to a centralized collection point.
