[Unit]
Description=Monasca Agent - Collector
PartOf=monasca-agent.target
After=monasca-forwarder.service
Wants=monasca-forwarder.service

[Service]
Type=simple
User={monasca_user}
Group={monasca_user}
Restart=always
ExecStart={prefix}/bin/monasca-collector foreground

[Install]
WantedBy=multi-user.target